<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading"></div>
            <a class="nav-link" routerLink="/products">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Bảng điều khiển
            </a>
            <a class="nav-link" routerLink="/member">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Thành viên
          </a>
          <a class="nav-link" routerLink="/project">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            Dự án
        </a>
        <a class="nav-link" routerLink="/task">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
           Công việc
        </a>
        </div>
    </div>
    
</nav>